* {
  box-sizing: border-box;
}

.root {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
}

.card__superhero {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid rgb(210, 209, 209);
  border-radius: 5px;
  max-width: 90%;
}

.image__superhero {
  max-width: 90%;
  height: auto;
  object-fit: contain;
}

h1 {
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: 1px;
}

.container__label {
  position: relative;
}

.container__input {
  position: relative;
  opacity: 0;
  z-index: 1;
}
